export LANG=en_US.UTF-8

eval (direnv hook fish)

function e --description='launch new emacs'
  emacsclient -tty $argv
end

function fish_prompt
  ~/powerline-shell.py $status --shell bare ^/dev/null
end

function fish_greeting
  function rnd_animal
    echo (ls /usr/share/cows/ | shuf -n1)
  end

  set -l rnd_animal (rnd_animal)
  fortune | cowsay -f /usr/share/cows/$rnd_animal | toilet -f term --gay
end

function gst
  git status
end
